Repository sandeepchathala/SElab23_team9, pull requests merged in 2024-02, with the labels that each got.

#55 added Filer Controller
  nitconf/nitconf/src/main/java/com/nitconf/controller/FilterController.java
  nitconf/nitconf/src/main/webapp/api/papers/rejectedpapers.jsp
Labels: filter

#56 added reveiwertags jsp file
  nitconf/nitconf/src/main/webapp/api/filter/reviewertags.jsp
Labels: filter

#57 added bytags jsp file
  nitconf/nitconf/src/main/webapp/api/papers/bytags.jsp
Labels: filter

#58 dashboard is improved
  nitconf/nitconf/src/main/webapp/api/pcmember/dashboard.jsp
Labels: Dashboard

#59 added Paper Entity
  nitconf/nitconf/src/main/java/com/nitconf/model/Paper.java
Labels: Paper

#64 added reviewer entity
  nitconf/nitconf/src/main/java/com/nitconf/model/Reviewer.java
Labels: entity

#65 added authorrepo
  nitconf/nitconf/src/main/java/com/nitconf/controller/Authorrepo.java
Labels: entity

#66 added Reviewerrepo repository
  nitconf/nitconf/src/main/java/com/nitconf/controller/Reviewerrepo.java
Labels: repository

#67 added PaperStorerepo Repository
  nitconf/nitconf/src/main/java/com/nitconf/controller/PaperStorerepo.java
Labels: repository

#78 modify paper controller
  nitconf/nitconf/src/main/java/com/nitconf/controller/PaperController.java
Labels: controller

#81 edited PCMember entity
  nitconf/nitconf/src/main/java/com/nitconf/controller/PCMemberrepo.java
  nitconf/nitconf/src/main/java/com/nitconf/model/PCMember.java
Labels: entity

#82 edited PCMember entity
  nitconf/nitconf/src/main/java/com/nitconf/model/PCMember.java
Labels: entity

#83 added java Doc to the filter controller
  nitconf/nitconf/src/main/java/com/nitconf/controller/FilterController.java
Labels: filter

#93 added Home Controller with java doc
  nitconf/nitconf/src/main/java/com/nitconf/controller/HomeController.java
Labels: controller

#94 added Reviewer Controller with java doc
  nitconf/nitconf/src/main/java/com/nitconf/controller/ReviewerController.java
Labels: controller

#105 added API documentation
  docs/apidoc.yaml
Labels: api
